@page
@model DGT.Web.POC.Pages.Pages.LiveChessBoardModel
@{
    ViewData["Title"] = "Live Chess Board";
}

@section Scripts {
    <script type="text/javascript">
        var board = Chessboard('myBoard', 'start');
        var ruyLopez = 'r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R';
        board.position(ruyLopez, false)
    </script>
}

<div id="myBoard" class="chess-board-fill-view"></div>